html {
  overflow-y: scroll;
}

::selection {
  background: var(--vp-c-mute-darker);
  color: var(--vp-c-neutral);
}

html.dark ::selection {
  background: var(--vp-c-mute-lighter);
  color: var(--vp-c-neutral);
}
